p{
    background-position: center;
    font-family: Arial;
    color:#FFFFFF;
    font-size: 30pt;

}
#nav{
   
}
*{
    
}
ul{
   
  
   margin-top: 20px;
  
}
#check{
    display: none;
    margin-right: 0px;
}
#icone{
    opacity: 1;
    cursor: pointer;
    padding: 15px;   
    margin-right: 3px;
    z-index: 1;
}


.menu{
   background-color:#E4E4E4; 
   height: 100%;
   position: absolute;
   width: 300px;
 
}


h3{
    margin-left: 20px;
    margin-top: 10px;
}


li{
    margin-top: 10px;
}
